//- ====================
//- kontora: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';
    - var pageDescription = 'Рандомное описание страницы'
    - var pageImage = 'images/content/test-image.jpg'

//- Выводим попапы
block popup

//- Выводим content
block content

    +b('section').hero
        .b-container
            +e('p').__heading
                | We provide digital services and develop our own products in sports and iHealth industry
            +e().__content
                | We put technology and sport together to create the world's most efficient and popular sports apps.
            +b('a').link(href="javascript:void(0)" title="drop us a line").--block.--hero
                | Drop us a line
                +e('div').__arrow
            +e('div').background
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "../../images/content/main/1440/hero-background2x.jpg",
                        "media": "(min-width: 1440px)"}
                    ],
                    source="true",
                    address="../../images/content/main/980/hero-background.jpg",
                    width="768px",
                    height="500px"
                )
    +b('section').about#about
        .b-container
            +e('p').__heading
                | We combine high level of professionalism and individual approach
            +e('p').__text
                | We have subject domain expertise in various aspects
            +e('ul').__list
                +e('li').__item
                    +e('div').__logo-wrapper
                        +e('img').image(src="images/logo/project.svg", alt="", width="28", height="29").__logo
                    +e('p').__description
                        | Project management for simple and complex projects
                +e('li').__item
                    +e('div').__logo-wrapper.--orange
                        +e('img').image(src="images/logo/hire.svg", alt="" width="13" height="32").__logo
                    +e('p').__description
                        | Management for hire
                +e('li').__item
                    +e('div').__logo-wrapper.--pink
                        +e('img').image(src="images/logo/digital.svg", alt="" width="31" height="24").__logo
                    +e('p').__description
                        | Digital transformation
    +b('section').service#service
        .b-container
            +b('h2').title.--mobile-grey
                | What We Do
            +e('ul').__list
                +e('li').__item.__item--line
                    | Development and support of new and existing software systems
                +e('li').__item.__item--line
                    | Deep analytics in various spheres
                +e('li').__item.__item--line
                    | Insights-driven solutions
                +e('li').__item.__item--line
                    | Agile product engineering
                +e('li').__item.__item--line
                    | Quality Assurance for new and existing products
                +e('li').__item.__item--line
                    | Data collection, research and analysis
                +e('li').__item.__item--line
                    | UX/UI concepts and design
                +e('li').__item.__item--line
                    | Video and motion design
        +b('a').link(href="javascript:void(0)" title="Services").--block.--colored
            | Services
            +e('div').__arrow

    +b('section').project#project
        .b-container
            +b('h2').title.--mobile-dark
                | Our Work
            +e('p').__text
                | We change the way businesses and industries operate.
            +b('div').post.--big
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/birdieeyes@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/birdieeyes@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/birdieeyes@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/birdieeyes@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/birdieeyes.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/birdieeyes.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content.--colored
                    +b('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | birdieeyes
                    +e('p')
                        | We have introduced AR technology into one of the most traditional games and made it even more interesting
            +b('div').post
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/upsport@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/upsport@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/upsport@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/upsport@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/upsport.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/upsport.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content
                    +b('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | upsport
                    +e('p')
                        | Live communication platform that has changed the game for sport clubs, parents and their kids
            +b('div').post
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/xland@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/xland@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/xland@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/xland@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/xland.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/xland.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content
                    +b('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | xland
                    +e('p')
                        | Digital presence for the first indoor activity park in Norway
            +b('div').post.--optional
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/phonero@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/phonero@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/phonero@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/phonero@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/phonero.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/phonero.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content
                    +b('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | phonero
                    +e('p')
                        | Interfaces for the cloud based switchboard applications as well as various desktop and mobile applications
            +b('div').post.--optional
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/kongsberg@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/kongsberg@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/kongsberg@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/kongsberg@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/kongsberg.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/kongsberg.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content
                    +b('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | Kongsberg Group
                    +e('p')
                        | Groundbreaking defence and aerospace systems
        +b('a').link(href="javascript:void(0)" title="All projects").--block.--colored
            | All Projects
            +e('div').__arrow
    +b('section').team#team
        .b-container
            +b('div').post.--big
                include section/ui-kit/images.pug
                +images(
                    [
                        {"srcset": "images/content/main/1440/team@3x.jpg",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/1440/team@3x.webp",
                        "media": "(min-width: 1440px)"},
                        {"srcset": "images/content/main/980/team@2x.webp",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/980/team@2x.jpg",
                        "media": "(min-width: 980px)"},
                        {"srcset": "images/content/main/320/team.jpg",
                        "media": "(min-width: 320px)and(max-width: 980px)"}
                    ],
                    source="true",
                    address="../../images/content/main/320/team.webp",
                    width="320px",
                    height="200px"
                )
                +e('div').__content.--right
                    +e('h3')
                        +e('a').link(href="javascript:void(0);" title="ага")
                            | our team
                    +e('p')
                        | We are united by our passion to create unique and efficient digital products
            +b('h2').title.--mobile-dark
                | Inside Frontbyte
            +e('p').__text
                | We change the way businesses and industries operate.
            +b('div').post-slider
                .slide
                    +b('div').post.--big.--slider
                        include section/ui-kit/images.pug
                        +images(
                            [
                                {"srcset": "images/content/main/1440/inside@3x.webp",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/1440/inside@3x.jpg",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/980/inside@2x.webp",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/980/inside@2x.jpg",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/320/inside.jpg",
                                "media": "(min-width: 320px)and(max-width: 980px)"}
                            ],
                            source="true",
                            address="../../images/content/main/320/inside.webp",
                            width="320px",
                            height="200px"
                        )
                        +e('div').__content.--slider
                            +e('h3')
                                +e('a').link(href="javascript:void(0);" title="ага")
                                    | Press about us
                            +e('p')
                                | AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation
                .slide
                    +b('div').post.--big.--slider
                        include section/ui-kit/images.pug
                        +images(
                            [
                                {"srcset": "images/content/main/1440/xland@3x.webp",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/1440/xland@3x.jpg",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/980/xland@2x.webp",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/980/xland@2x.jpg",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/320/xland.jpg",
                                "media": "(min-width: 320px)and(max-width: 980px)"}
                            ],
                            source="true",
                            address="../../images/content/main/320/xland.webp",
                            width="320px",
                            height="200px"
                        )
                        +e('div').__content.--slider
                            +e('h3')
                                +e('a').link(href="javascript:void(0);" title="ага")
                                    | Press about us
                            +e('p')
                                | London is a capital of GREAT Britan
                .slide
                    +b('div').post.--big.--slider
                        include section/ui-kit/images.pug
                        +images(
                            [
                                {"srcset": "images/content/main/1440/upsport@3x.webp",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/1440/upsport@3x.jpg",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/980/upsport@2x.webp",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/980/upsport@2x.jpg",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/320/upsport.jpg",
                                "media": "(min-width: 320px)and(max-width: 980px)"}
                            ],
                            source="true",
                            address="../../images/content/main/320/upsport.webp",
                            width="320px",
                            height="200px"
                        )
                        +e('div').__content.--slider
                            +e('h3')
                                +e('a').link(href="javascript:void(0);" title="ага")
                                    | Press about us
                            +e('p')
                                | AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation
                .slide
                    +b('div').post.--big.--slider
                        include section/ui-kit/images.pug
                        +images(
                            [
                                {"srcset": "images/content/main/1440/phonero@3x.webp",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/1440/phonero@3x.jpg",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/980/phonero@2x.webp",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/980/phonero@2x.jpg",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/320/phonero.jpg",
                                "media": "(min-width: 320px)and(max-width: 980px)"}
                            ],
                            source="true",
                            address="../../images/content/main/320/phonero.webp",
                            width="320px",
                            height="200px"
                        )
                        +e('div').__content.--slider
                            +e('h3')
                                +e('a').link(href="javascript:void(0);" title="ага")
                                    | Press about us
                            +e('p')
                                | Lorem ipsum dolor sit amet consectetur adipisicing.
                .slide
                    +b('div').post.--big.--slider
                        include section/ui-kit/images.pug
                        +images(
                            [
                                {"srcset": "images/content/main/1440/kongsberg@3x.webp",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/1440/kongsberg@3x.jpg",
                                "media": "(min-width: 1440px)"},
                                {"srcset": "images/content/main/980/kongsberg@2x.webp",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/980/kongsberg@2x.jpg",
                                "media": "(min-width: 980px)"},
                                {"srcset": "images/content/main/320/inside.jpg",
                                "media": "(min-width: 320px)and(max-width: 980px)"}
                            ],
                            source="true",
                            address="../../images/content/main/320/kongsberg.webp",
                            width="320px",
                            height="200px"
                        )
                        +e('div').__content.--slider
                            +e('h3')
                                +e('a').link(href="javascript:void(0);" title="ага")
                                    | Press about us
                            +e('p')
                                | Konigsbergs citizens on fire after the cakes-fabrik explosion
            +b('div').news-slider
                //- +b('button').button(type="button").--left-arrow
                div.slide
                    +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                div.slide
                    +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                div.slide
                    +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                div.slide
                    +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                div.slide
                    +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                //- +b('button').button(type="button").--right-arrow
    +b('section').news
        .b-container
            +b('h3').title.--label-mobile-dark
                | Latest News
            +e.__wrapper
                +e('div').__post
                    +e('p')
                        +e('a').link(href="javascript:void(0);" title="hew")
                            | How to use email marketing to connect with your users
                    +e('time')
                        | Dec 19, 2018
                +e('div').__post
                    +e('p')
                        +e('a').link(href="javascript:void(0);" title="hew")
                            | How to use email marketing to connect with your users
                    +e('time')
                        | Dec 19, 2018
                +e('div').__post
                    +e('p')
                        +e('a').link(href="javascript:void(0);" title="hew")
                            | How to use email marketing to connect with your users
                    +e('time')
                        | Dec 19, 2018
    +b('section').contacts#contacts
        .b-container
            +b('h2').title.--light
                | Contacts
            +e('p').__text
                | Our head office is located in Norway. Research and dev center is located in Belarus.
            +b('div').social
                +e('ul').__list
                    +e('li').__item
                        +e('a').link(href="javascript:void(0)" title="linkedin")
                            +e('img').image(src="images/logo/mobile/linkedin-white.svg", alt="", width="30" height="30")
                    +e('li').__item
                        +e('a').link(href="javascript:void(0)" title="facebook")
                            +e('img').image(src="images/logo/mobile/facebook-white.svg", alt="", width="30" height="30")
                    +e('li').__item
                        +e('a').link(href="javascript:void(0)" title="instagram")
                            +e('img').image(src="images/logo/mobile/instagram-white.svg", alt="", width="30" height="30")
            +b('div').map
                +e('img').image(src="images/content/main/map.svg")
                +e('div').office
                +e('div').office.--belarus
            +b('div').office
                +e('p').__country
                    | Norway
                +e('div').__info
                    +e('p').__city
                        | Kristiansand
                    +e('p').__addres
                        | Vestre strandgate, 23, 4th and<br> 6th floor N-4611
                    +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
                        | contact@frontbyte.no
                    +e('p').__phone
                        | +47 416 36 983
            +b('div').office
                +e('p').__country
                    | Belarus
                +e('div').__info
                    +e('p').__city
                        | Minsk
                    +e('p').__addres
                        | Dombrovskaya str., 9, оffice 10.2.2
                    +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
                        | contact@frontbyte.by
                    +e('p').__phone
                        | +375 29 1393336
        +b('a').link(href="javascript:void(0)" title="Drou us a line").--block.--colored
            | Drop us a line
            +e('div').__arrow
    +b('section').page-navigation
        .b-container
            include template/layout/nav.pug
            +nav()
